[data-md-color-group=SNH48] {
    --flag-color: #8fd3f5;
}

[data-md-color-group=GNZ48] {
    --flag-color: #aaca13;
}

[data-md-color-group=BEJ48] {
    --flag-color: #ff2471;
}

[data-md-color-group=CKG48] {
    --flag-color: #ffba07;
}

[data-md-color-group=CGT48] {
    --flag-color: #d71518;
}

[data-md-color-team=SNH48TeamSII] {
    --flag-color: #56b8ff;
}

[data-md-color-team=SNH48TeamNII] {
    --flag-color: #bf9bc7;
}

[data-md-color-team=SNH48TeamHII] {
    --flag-color: #f9a821;
}

[data-md-color-team=SNH48TeamX] {
    --flag-color: #a7cd28;
}

[data-md-color-team=GNZ48TeamG] {
    --flag-color: #accb15;
}

[data-md-color-team=GNZ48TeamNIII] {
    --flag-color: #f4d024;
}

[data-md-color-team=GNZ48TeamZ] {
    --flag-color: #eb627e;
}

[data-md-color-team=BEJ48TeamB] {
    --flag-color: #e85081;
}

[data-md-color-team=BEJ48TeamE] {
    --flag-color: #32bdba;
}

[data-md-color-team=CKG48TeamC] {
    --flag-color: #ffba07;
}

[data-md-color-team=CKG48TeamK] {
    --flag-color: #ff5043;
}

[data-md-color-team=CGT48TeamCII] {
    --flag-color: #e60000;
}

[data-md-color-team=CGT48TeamGII] {
    --flag-color: #01559b;
}

[data-md-color-team=Kenkyuusei] {
    --flag-color: #a7afba;
}

.mdx-switch button {
    cursor: pointer;
    transition: opacity 250ms;

    &:is(:focus, :hover) {
        opacity: 0.75;
    }

    > code {
        display: block;
        color: #ffffff;
        background-color: var(--flag-color);

        > a, a:hover, a:focus {
            color: #ffffff;
            text-decoration: none;
        }
    }
}

.md-typeset h4 {
    margin: 0;
}

.table-style {
    border-collapse: collapse;
}

.table-style th, .table-style td {
    border: 1px solid black;
    padding: 8px;
}

.table-style th {
    background-color: #f2f2f2;
}

.table-style tr:nth-child(even) {
    background-color: #ebebeb;
}

table th,
table td {
    height: 35px; /*统一每一行的默认高度*/
    border: 1px solid #dedede; /*内部边框样式*/
    padding: 0 10px; /*内边距*/
    width: fit-content;
}

.display_none {
    display: none;
}

.display_inline {
    display: inline;
}

.display_inline_block {
    display: inline-block;
}

.display_flex {
    display: flex;
}

.white_space_no_wrap {
    white-space: nowrap;
}

.white_space_pre {
    white-space: pre;
}

.white_space_pre_line {
    white-space: pre-line;
}

.white_space_pre_wrap {
    white-space: pre-wrap;
}

.mix_reference {
    width: fit-content;
    max-width: 50vw;
}

.mix_reference_span {
    white-space: pre-line;
    word-break: break-word;
}

.has_copy_button {
    min-width: 10vw;
    width: auto;
}

.copy_button {
    color: #ffffff;
    background-color: #9999AA;
    width: 58px;
    text-align: center;
    padding: 2px 0;
    z-index: 20;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.song_title {
    text-align: center;
    display: inline-block;
    margin: 3px !important;
    padding: 0 10px;
    min-width: 40px;
    border-radius: 1000px;
    font-size: .64rem;
    background-color: rgba(83, 252, 181, 0.41);
}

.stage_attr {
    font-size: smaller;
    text-align: center;
    display: inline-block !important;
    margin: 0 5px !important;
    padding: 0 10px;
    min-width: 40px;
    border-radius: 1000px;
    background-color: rgba(255, 243, 35, 0.6);
}

.stage_title {
    display: inline-block !important;
    margin: 0 !important;
}

.stage_attr_label_list {
    display: inline !important;
    align-items: center;
}

.song_list {
    margin: 0 10% 1% 0 !important;
}

div.Thumbnail {
    display: inline-flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
}

figure.call_pic {
    height: 40vh;
    border-style: double;
    border-width: 3px;
    margin-left: 1%;
    margin-right: 1%;
}

.md-typeset figcaption {
    margin: 0;
}

a.glightbox img {
    height: 100%;
    width: auto;
    min-width: 10vw;
}

figure.call_pic p {
    height: 100%;
    width: auto;
    margin: 0 0 0 0 !important;
}

.call_pic_caption {
    font-weight: bold;
    font-style: normal !important;
}

.hr-shadow {
    border: 0;
    padding-top: 10px;
    color: #bdbdde;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-shadow: inset 0 10px 10px -10px;
}

.json_generator {
    border: 1px solid black;
    padding: 20px;
    width: 40vw;
    min-width: fit-content;
}

.json_generator_title {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

form#json-form label input {
    border: 1px solid black;
}

form#json-form label {
    display: block;
    margin: 10px 0;
}

label span {
    text-align: center;
    width: 30%;
    min-width: 30%;
    display: inline-block;
    align-content: start;
}

label input {
    width: 30%;
    display: inline-block;
    align-content: center;
}

.json_generator_button_container {
    width: 100%;
    text-align: center;
}

.json_generator_button {
    color: #ffffff;
    background-color: #9999AA;
    text-align: center;
    padding: 2px 5px;
    z-index: 20;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
    display: inline-block;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.common_length {
    font-size: smaller;
    text-align: center;
    display: inline-block !important;
    margin: 0 3px !important;
    padding: 0 10px;
    min-width: 40px;
    border-radius: 1000px;
    background-color: rgba(255, 243, 35, 0.6);
}

.common_length_list {
    align-items: center;
    margin-top: 0.3em!important;
    margin-bottom: 0.3em!important;
}